@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply bg-slate-200 px-4 py-2 rounded-md font-semibold hover:scale-110 transition;
}
.btn-active {
  @apply bg-blue-500;
}

:root {
  /* BG */
  --main-bg: #2a3447;
  --soft-bg: #384256;
  --dark-bg: #222b3c;
  /* TEXT */
  --main-color: white;
  --soft-color: #ddd;
  --dark-color: #2a3447;
}

.home {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.box {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid darkgray;
}
.box1 {
  grid-column: span 1;
  grid-row: span 3;
}
.box4 {
  grid-column: span 1;
  grid-row: span 3;
}
.box7 {
  grid-column: span 2;
  grid-row: span 2;
}
